pre {
    background:none repeat scroll 0 0 #111111;
    color:#BFBFBF;
    font:12px Monaco,"Lucida Console","Courier New",Courier;
    padding:5px;
    height: 40em;
}

.header 
{
    display:none
}