<!--<ccnetconfig><configurationVersion>1.4</configurationVersion></ccnetconfig>-->
<cruisecontrol>
  <project name="CometGateway">
    <workingDirectory>C:\Sandbox\CometGateway</workingDirectory>
    <sourcecontrol type="svn">
      <trunkUrl>https://comet-gateway.googlecode.com/svn/trunk</trunkUrl>
      <workingDirectory>C:\Sandbox\CometGateway</workingDirectory>
      <executable>C:\Program Files\SlikSvn\bin\svn.exe</executable>
      <username>Mitch.Constantine@gmail.com</username>
      <password>BZ4TR6fP3VV4</password>
      <autoGetSource>True</autoGetSource>
    </sourcecontrol>
    <triggers />
    <tasks>
      <devenv>
        <solutionfile>Src\CometGateway.Server\CometGateway.Server.sln</solutionfile>
        <configuration>Debug</configuration>
      </devenv>
    </tasks>
  </project>
</cruisecontrol>